<!--index.html-->
{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block body %}
  <h1 class="text-center">Любителям поэзии</h1>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="jumbotron">
        Здесь можно скачать стихи понравившегося автора с сайта <a href="www.stihi.ru">Стихи.ру</a><br>
        Вы можете скачать все стихи полностью, выбрать отдельные (по названию) или только названия с ссылками на страницы.
      </div>
      <a href="/choose_parsing" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">Начать</a>
    </div>
  </div>
{% endblock %}